%form

  %div.chat-window

  %p
    %label{:for => 'nick'} nick
    %input{:type => 'text', :name => 'nick'}

  %p
    %label{:for => 'message'} message
    %input{:type => 'text', :name => 'message'}

  %p
    %input{:type => 'submit', :value => 'send'}