body
  max-width: 100%
  height: 100%

  font: 1em/1.25 Arial

form
  width: 25em
  margin: 5em auto 0

.chat-window
  height: 18.75em
  width: 100%
  border: 1px solid #acacac
  margin-bottom: .5em
  padding: .5em
  overflow: auto

label
  display: inline-block
  vertical-align: middle
  width: 20%

input:focus
  outline-color: #2ecc71

[type=text]
  font-size: 1em
  padding: .25em

[name=message]
  width: 75%

[type=submit]
  background: #2ecc71
  border: none
  color: #fff
  padding: .5em 1em
  border-radius: 0
  margin-left: 21%

  &:hover
    background: #27ae60

.message
  position: relative
  margin-bottom: 1em

.message-text
  display: block
  margin-top: .25em

.nick
  color: #a0a0a0

.timestamp
  font-size: .8em
  color: #a0a0a0
  position: absolute
  top: 0
  right: 0
